Python 3.9.0 (32/64 bit)
---------------------------
Package           Version
----------------- ---------
colorama          0.4.4
pip               20.2.3
pyfiglet          0.8.post1
pytube            9.7.0
setuptools        49.2.1
termcolor         1.1.0
typing-extensions 3.7.4.3
